Source: mmsd4ofono
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/mmsd4ofono
Vcs-Git: https://github.com/furilabs/mmsd4ofono.git

Package: mmsd4ofono
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-dbus-next,
         python3-gi,
         python3-dbus,
         python3-aiohttp,
         python3-tenacity,
         python3-pyroute2,
Description: A python daemon implementing the MMSD API

Package: mmscli
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-dbus,
Description: Control application for mms to encode and decode PDUs
